<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/favicon.png">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/global.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="flex-container">
        @RenderBody()
    </div>
    <div class="background" />
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
