@model WorkScheduleExport.Web.Models.WorkScheduleExportViewModel

@{
    ViewBag.Title = "Schemaexport";
}
<div class="col-md-3">
    <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Schema export</h2>
            </div>
            <div class="panel-body">
                <p>
                    Välj den schemafil innehåller det schema som du vill skapa kalenderposter för. Klicka sedan på "Ladda upp".
                </p>
                <p>
                    Vill du hellre att filen ska skickas till din e-post? Ange då din e-postadress i fältet nedan.
                </p>
                <div class="input-group">
                    <input type="file" name="SchemaFile" class="form-control" />
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-8">
                        <input type="email" asp-for="Email" class="form-control" placeholder="E-postadress" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success pull-right">Ladda upp</button>
                    </div>
                </div>
                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-success">@ViewBag.SuccessMessage</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>